:root {
	--greenish: #abd3b0;
	--blueish: #abced3;
	--pinkish: #d3abce;
	--beigeish: #d3b0ab;
}
@font-face {
	font-family: FiraCode-Regular;
	src: url("fonts/Fira/FiraCode-Regular.otf") format("opentype");
}
@font-face {
	font-family: FiraCode-Bold;
	src: url("fonts/Fira/FiraCode-Bold.otf") format("opentype");
}
body {
	overflow: hidden;
	font-family: FiraCode-Regular, monospace;
}
h1,h2,h3,h4,h5,p {
	font-family: "FiraCode-Regular", monospace;
}
b {
	font-family: "FiraCode-Bold", monospace;
	font-weight: normal;
}
h1{
  position: relative;
  display:inline-block;
}
h1::after {
  content: "";
  position: absolute;
  width: 100%;
  background: var(--greenish);
  left: 0;
  bottom: 0;
  height: .6em;
  z-index: -1;
}
h2{
  position: relative;
  display:inline-block;
}
h2::after {
  content: "";
  position: absolute;
  width: 100%;
  background: var(--pinkish);
  left: 0;
  bottom: 0;
  height: .6em;
  z-index: -1;
}
p > a {
	color: var(--blueish);
}
h3 > a{
	text-decoration: none;
}
::selection {
	background-color: var(--beigeish);
}
::-moz-selection {
	background-color: var(--beigeish);
}

.grid-container {
	margin-top: 23vh;
	margin-left: 8vh;
	display: grid;
	grid-auto-rows: 100%;
	grid-template-columns: 40% 60%;
	grid-template-areas: "a b";
}

.left {
	grid-area: a;
	padding:20px;
}
	
.right {
	grid-area: b;
	padding:20px;
}

.pageTitle {
	position: fixed;
	top:25px;
}

.nav {
	position: fixed;
	left:0;
	top:23vh;
	display: inline;	
}

.nav-item {
	color: grey;
	margin-left: 18px;
}
.nav-item:hover{
	color: black;
	text:bold;
	cursor: pointer;
}
